<!--begin::Body-->
<br>
<div class="kt-login__body container">
    <!--begin::Signin-->
    <div class="kt-login__form">
      <div class="kt-login__title">
        <h3>Sou um Consultor</h3>
      </div>
      <form class="kt-login__form kt-form" [formGroup]="Form">
            <div class="example-container">
              <mat-form-field>
                <input matInput placeholder="Nome" type="text" formControlName="nome">
                <mat-error *ngIf="isControlHasError('nome','required')">
                  <strong>{{message_required}}</strong>
                </mat-error>
                <mat-error *ngIf="isControlHasError('nome','minlength')">
                    <strong>{{message_minLength}}</strong>
                  </mat-error>
                  <mat-error *ngIf="isControlHasError('nome','maxlength')">
                      <strong>{{message_maxlength}}</strong>
                    </mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Cidade" type="text" formControlName="cidade">
                <mat-error *ngIf="isControlHasError('cidade','required')">
                  <strong>{{message_required}}</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="CNPJ/CPF" type="text" formControlName="cnpj_cpf" appCampoColorido valorInput="{{cnpj_cpf}}" [(ngModel)]="cnpj_cpf" [(maxlength)]="maxlength_cnpj"> <!--(blur)="cnpj_cpf = format(cnpj_cpf)" x-->
                <mat-error *ngIf="isControlHasError('cnpj_cpf','required')">
                  <strong>{{message_required}}</strong>
                </mat-error>
               
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Endereço de email" type="email" formControlName="email">
                <mat-error *ngIf="isControlHasError('email','required')">
                  <strong>{{message_required}}</strong>
                </mat-error>
                <mat-error *ngIf="isControlHasError('email','email')">
                  <strong>{{ email_invalid }}</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Telefone Contato" type="text" formControlName="fone" mask="(00) 00000-0000">
                <mat-error *ngIf="isControlHasError('fone','required')">
                  <strong>{{message_required}}</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="kt-login__actions">
              <button class="btn btn-secondary btn-elevate kt-login__btn-secondary" [routerLink]="['/cadastro']" [disabled]="loading">Voltar</button>&nbsp;
              <button type="submit" class="btn btn-primary btn-elevate kt-login__btn-primary" [disabled]="Form.pristine || Form.invalid"
                (click)="onSubmit(Form)">Salvar</button>
            </div>
      </form>
    </div>
</div>
  