<div style="background-color: #2c312f; padding: 15px;">
        <div class="container">
                <div class="kt-login__form">
                    <div class="kt-login__title">
                        <div class="example-button-row">
                            <!-- <button mat-raised-button>Basic</button>&nbsp; -->
                            <a href="#" class="testmenu" [routerLink]="['/new-page']" >New Page</a>
                            <a href="#" class="testmenu" [routerLink]="['/']" >Register</a>
                            <a href="#" class="testmenu" [routerLink]="['/table']" >Table</a>
                            <!-- <button md-button color="primary" [routerLink]="['/new-page']" >New Page</button>&nbsp;
                            <button mat-raised-button color="primary" [routerLink]="['/']">Cadastro</button>&nbsp; -->
                            <!-- <button mat-raised-button color="warn">Warn</button>&nbsp;
                            <button mat-raised-button disabled>Disabled</button>&nbsp;
                            <a mat-raised-button routerLink=".">Link</a>&nbsp; -->
                        </div>
                    </div>
                </div>
            </div>
</div>
