<form action="" >
    <div class="col-md-2">
        <mat-form-field appearance="outline">
            <mat-label>Banco</mat-label>
            <input matInput placeholder="inputnewtest" type="text" class="input-headline" value="{{tipos.value}}" [readonly]="showedit">
        </mat-form-field>
    
        <mat-form-field appearance="outline">
            <mat-label>Banco</mat-label>
            <input matInput placeholder="inputnewtest" type="text" class="input-headline" value="{{nome}}" [readonly]="showedit" > 
        </mat-form-field>
      <!--  [(ngModel)]="firstname" name="firstname"  -->
    </div>
</form>


<p>{{firstname}}</p>